<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EtherscanTxListUrl" value="http://api.etherscan.io/api?module=account&#38;action=txlist&#38;sort=desc&#38;address={0}&#38;apikey={1}" />
    <add key="EtherscanGetAbitUrl" value="https://api.etherscan.io/api?module=contract&#38;action=getabi&#38;address={0}&#38;apikey={1}" />
    <add key="EtherscanApiKey" value="TNYDY6U8QC6CGHP6YX49Y2N22FVQTNU4MX" />
  </appSettings>
</configuration>
